@import "tailwindcss";


.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-purple-500;
}

.btnPrimary {
  @apply w-full bg-purple-600 text-white py-3 rounded-lg font-semibold hover:bg-purple-800 cursor-pointer;
}

.btnSecondary {
  @apply w-full bg-purple-200 hover:bg-purple-300 text-gray-800 py-3 rounded-lg font-semibold cursor-pointer;
}